.footer-basic {
    margin-top: 26%;
    padding: 40px 0;
    font-family: montserrat;
}

.footer-basic .social {
    padding-bottom: 25px;
    margin-left: 9%;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    border-radius: 50%;
    border: 1px solid rgb(46, 11, 11);
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-left: 90%;
    font-size: 15px;
    color: rgb(83, 81, 81);
}