*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#666,#778);
    padding: 1opx;
}
.container {
    max-width: 700px;
    width: 100%;
    background:#3e773c41;
    padding: 25px 30px;
    border-radius: 25px;
}
.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(13%deg #6674 #8888);

}
.container .card-details {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}